@import "tailwindcss";
@theme{
    --color-screen: rgb(17, 24, 39);
    --color-navbar: rgb(31,41,55);
    --color-input: rgba(255, 255, 255, 0.05);
    --color-border: rgba(255, 255, 255, 0.3);
    --color-text-logo: rgb(34, 211, 238);
    --color-text-navbar: rgb(229, 231, 235);
    --color-text-hover-navbar: rgb(34, 211, 238);
    --color-text-signup: rgb(17, 24, 39);
    --color-bg-signup: rgb(34, 211, 238);
    --color-hover-signup:  rgb(103, 232, 249);
}
